<!DOCTYPE html>
<html lang="ja">
<!-- booth-menu-data.js参照 -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.15.1/dist/full.css" rel="stylesheet" type="text/css" />
    <title>お食事メニュー一覧</title>
    <script src="https://unpkg.com/vue@3.2.4"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        //headerパーツ読み込み

        $(function () {
            $('#header').load('/-time/header.html');
            $('#footer').load('/-time/footer.html');
        });
    </script>

</head>

<body background="./img/background/email-pattern.webp">
    
    <div id="header"></div>
    <div style="background-image:url(./img/background/5.jpg);" class="relative py-20 bg-cover bg-center bg-no-repeat mb-20">
        <h2 class="text-2xl leading-normal mb-2 font-black text-center bg-black text-white py-2">－お食事メニュ－</h2>
      </div>
    <div id="services" class="section relative pt-20 pb-8 md:pt-16 md:pb-0">
        <div class="container xl:max-w-6xl mx-auto sm:px-4">


            <!-- 漫画と雑誌切り替え -->
            <div class="flex flex-wrap justify-center">
                <div class="w-full md:w-1/2 p-4 bg-red-800">
                    <div class="flex flex-col items-center">
                        <div class="flex-1">
                            <p class="text-yellow-100">ブースメニュー</p>
                        </div>
                        <div class="flex-1">
                            <h3 class="text-xl font-bold mb-2 text-yellow-100">Booth-menu</h3>
                        </div>
                    </div>
                </div>

                <a class="w-full md:w-1/2 p-4 bg-gray-400 hover:bg-red-800 text-yellow-100" href="./karaoke-menu.html">
                    <div class="flex flex-col items-center">
                        <div class="flex-1">
                            <p>カラオケメニュー</p>
                        </div>
                        <div class="flex-1">
                            <h3 class="text-xl font-bold mb-2">Karaoke-menu</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="bg-yellow-100">
                <ul class="flex flex-wrap flex-row pt-4 pb-8 text-center mb-8 underline">
                    <li class="font-black w-1/2 sm:w-1/2 lg:w-1/3 hover:text-red-800 pt-4 text-lg"><a href="#h2-don">丼もの</a></li>
                    <li class="font-black w-1/2 sm:w-1/2 lg:w-1/3 hover:text-red-800 pt-4 text-lg"><a href="#h2-curry">カレー</a></li>
                    <li class="font-black w-1/2 sm:w-1/2 lg:w-1/3 hover:text-red-800 pt-4 text-lg"><a href="#h2-plate">プレート</a></li>
                    <li class="font-black w-1/2 sm:w-1/2 lg:w-1/3 hover:text-red-800 pt-4 text-lg"><a href="#h2-pasta">パスタ</a></li>
                    <li class="font-black w-1/2 sm:w-1/2 lg:w-1/3 hover:text-red-800 pt-4 text-lg"><a href="#h2-pan">パン&ピザ</a></li>
                    <li class="font-black w-1/2 sm:w-1/2 lg:w-1/3 hover:text-red-800 pt-4 text-lg"><a href="#h2-side">サイドメニュー</a></li>
                    <li class="font-black w-1/2 sm:w-1/2 lg:w-1/3 hover:text-red-800 pt-4 text-lg"><a href="#h2-sweets">デザート</a></li>
                </ul>
            </div>
            
            <h2 class="text-2xl leading-normal mb-2 font-bold text-center text-yellow-100 bg-red-800 py-2 max-w-xs mx-auto mb-16" id="h2-don">丼もの</h2>
            <div class="flex flex-wrap flex-row -mx-4 text-center" id="don">

                <div class="flex-shrink sm:w-1/2 lg:w-1/3 lg:px-6 f-640" v-for="menu in menulist">
                    <div class="py-2 sm:px-12 mb-12 bg-gray-50 border-b border-gray-100 shadow-2xl">
                        <div class="inline-block text-gray-900 mb-4">
                            <img :src="menu.img" :alt="menu.name">
                        </div>
                        <p class="text-lg leading-normal mb-2 font-semibold">{{menu.name}}</p>
                        <p class="text-gray-500 text-sm">{{menu.description}}</p>
                        <p class="text-red-600 text-2xl font-extrabold"><span class="text-sm">¥</span>{{menu.price}}<span class="text-sm">(税込¥{{menu.tax_price}})</span></p>
                    </div>
                </div>
            </div>
            <h2 class="text-2xl leading-normal mb-2 font-bold text-center text-yellow-100 bg-red-800 py-2 max-w-xs mx-auto mb-16" id="h2-curry">カレー</h2>
            <div class="flex flex-wrap flex-row -mx-4 text-center" id="curry">

                <div class="flex-shrink sm:w-1/2 lg:w-1/3 lg:px-6 f-640" v-for="menu in menulist">
                    <div class="py-2 sm:px-12 mb-12 bg-gray-50 border-b border-gray-100 shadow-2xl">
                        <div class="inline-block text-gray-900 mb-4">
                            <img :src="menu.img" :alt="menu.name">
                        </div>
                        <p class="text-lg leading-normal mb-2 font-semibold">{{menu.name}}</p>
                        <p class="text-gray-500 text-sm">{{menu.description}}</p>
                        <p class="text-red-600 text-2xl font-extrabold"><span class="text-sm">¥</span>{{menu.price}}<span class="text-sm">(税込¥{{menu.tax_price}})</span></p>
                    </div>
                </div>
            </div>
            <h2 class="text-2xl leading-normal mb-2 font-bold text-center text-yellow-100 bg-red-800 py-2 max-w-xs mx-auto mb-16" id="h2-plate">プレート</h2>
            <div class="flex flex-wrap flex-row -mx-4 text-center" id="plate">

                <div class="flex-shrink sm:w-1/2 lg:w-1/3 lg:px-6 f-640" v-for="menu in menulist">
                    <div class="py-2 sm:px-12 mb-12 bg-gray-50 border-b border-gray-100 shadow-2xl">
                        <div class="inline-block text-gray-900 mb-4">
                            <img :src="menu.img" :alt="menu.name">
                        </div>
                        <p class="text-lg leading-normal mb-2 font-semibold">{{menu.name}}</p>
                        <p class="text-gray-500 text-sm">{{menu.description}}</p>
                        <p class="text-red-600 text-2xl font-extrabold"><span class="text-sm">¥</span>{{menu.price}}<span class="text-sm">(税込¥{{menu.tax_price}})</span></p>
                    </div>
                </div>
            </div>
            <h2 class="text-2xl leading-normal mb-2 font-bold text-center text-yellow-100 bg-red-800 py-2 max-w-xs mx-auto mb-16" id="h2-pasta">パスタ</h2>
            <div class="flex flex-wrap flex-row -mx-4 text-center" id="pasta">

                <div class="flex-shrink sm:w-1/2 lg:w-1/3 lg:px-6 f-640" v-for="menu in menulist">
                    <div class="py-2 sm:px-12 mb-12 bg-gray-50 border-b border-gray-100 shadow-2xl">
                        <div class="inline-block text-gray-900 mb-4">
                            <img :src="menu.img" :alt="menu.name">
                        </div>
                        <p class="text-lg leading-normal mb-2 font-semibold">{{menu.name}}</p>
                        <p class="text-gray-500 text-sm">{{menu.description}}</p>
                        <p class="text-red-600 text-2xl font-extrabold"><span class="text-sm">¥</span>{{menu.price}}<span class="text-sm">(税込¥{{menu.tax_price}})</span></p>
                    </div>
                </div>
            </div>
            <h2 class="text-2xl leading-normal mb-2 font-bold text-center text-yellow-100 bg-red-800 py-2 max-w-xs mx-auto mb-16" id="h2-pan">バン&ピザ</h2>
            <div class="flex flex-wrap flex-row -mx-4 text-center" id="pan">

                <div class="flex-shrink sm:w-1/2 lg:w-1/3 lg:px-6 f-640" v-for="menu in menulist">
                    <div class="py-2 sm:px-12 mb-12 bg-gray-50 border-b border-gray-100 shadow-2xl">
                        <div class="inline-block text-gray-900 mb-4">
                            <img :src="menu.img" :alt="menu.name">
                        </div>
                        <p class="text-lg leading-normal mb-2 font-semibold">{{menu.name}}</p>
                        <p class="text-gray-500 text-sm">{{menu.description}}</p>
                        <p class="text-red-600 text-2xl font-extrabold"><span class="text-sm">¥</span>{{menu.price}}<span class="text-sm">(税込¥{{menu.tax_price}})</span></p>
                    </div>
                </div>
            </div>
            <h2 class="text-2xl leading-normal mb-2 font-bold text-center text-yellow-100 bg-red-800 py-2 max-w-xs mx-auto mb-16" id="h2-side">サイドメニュー</h2>
            <div class="flex flex-wrap flex-row -mx-4 text-center" id="side">

                <div class="flex-shrink sm:w-1/2 lg:w-1/3 lg:px-6 f-640" v-for="menu in menulist">
                    <div class="py-2 sm:px-12 mb-12 bg-gray-50 border-b border-gray-100 shadow-2xl">
                        <div class="inline-block text-gray-900 mb-4">
                            <img :src="menu.img" :alt="menu.name">
                        </div>
                        <p class="text-lg leading-normal mb-2 font-semibold">{{menu.name}}</p>
                        <p class="text-gray-500 text-sm">{{menu.description}}</p>
                        <p class="text-red-600 text-2xl font-extrabold"><span class="text-sm">¥</span>{{menu.price}}<span class="text-sm">(税込¥{{menu.tax_price}})</span></p>
                    </div>
                </div>
            </div>
            <h2 class="text-2xl leading-normal mb-2 font-bold text-center text-yellow-100 bg-red-800 py-2 max-w-xs mx-auto mb-16" id="h2-sweets">デザート</h2>
            <div class="flex flex-wrap flex-row -mx-4 text-center" id="sweets">

                <div class="flex-shrink sm:w-1/2 lg:w-1/3 lg:px-6 f-640" v-for="menu in menulist">
                    <div class="py-2 sm:px-12 mb-12 bg-gray-50 border-b border-gray-100 shadow-2xl">
                        <div class="inline-block text-gray-900 mb-4">
                            <img :src="menu.img" :alt="menu.name">
                        </div>
                        <p class="text-lg leading-normal mb-2 font-semibold">{{menu.name}}</p>
                        <p class="text-gray-500 text-sm">{{menu.description}}</p>
                        <p class="text-red-600 text-2xl font-extrabold"><span class="text-sm">¥</span>{{menu.price}}円<span class="text-sm">(税込¥{{menu.tax_price}}円)</span></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer"></div>
    </div>
</body>
<!-- Vueデータ読み込み -->
<script src="./dataJS/booth-menu-data.js"></script>
<script>
    const mountedApp1 = don.mount('#don');
    const mountedApp2 = curry.mount('#curry');
    const mountedApp3 = plate.mount('#plate');
    const mountedApp4 = pasta.mount('#pasta');
    const mountedApp5 = pan.mount('#pan');
    const mountedApp6 = side.mount('#side');
    const mountedApp7 = sweets.mount('#sweets');

  </script>
<style>

    @media (max-width: 640px) {
        .f-640 {
            width: 50%;
            padding: 0px;
        }
    }
</style>

</html>