<!DOCTYPE html>
<html lang="ja">
<!--comic-data.js参照 -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    <title>コミック・雑誌一覧</title>
    <script src="https://unpkg.com/vue@3.2.4"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        //headerパーツ読み込み

        $(function () {
            $('#header').load('/-time/header.html');
            $('#footer').load('/-time/footer.html');
        });
    </script>

</head>

<body background="./img/background/email-pattern.webp">
    <div id="header"></div>
    <div style="background-image:url(./img/TOP/7.jpg);" class="relative py-20 bg-cover bg-center bg-no-repeat mb-20">
        <h2 class="text-2xl leading-normal mb-2 font-black text-center bg-black text-white py-2">-コミック-</h2>
    </div>
    <div id="services" class="section relative pt-20 pb-8 md:pt-16 md:pb-0">
        <div class="container xl:max-w-6xl mx-auto px-4">
            <!-- Heading start -->

            <header class="text-center mx-auto mb-12 lg:px-20">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="margin: 0 auto;height: 35px;" xml:space="preserve">
                    <circle cx="50.1" cy="30.4" r="5" class="stroke-primary" style="fill: transparent;stroke-width: 2;stroke-miterlimit: 10;"></circle>
                    <line x1="55.1" y1="30.4" x2="100" y2="30.4" class="stroke-primary" style="stroke-width: 2;stroke-miterlimit: 10;"></line>
                    <line x1="45.1" y1="30.4" x2="0" y2="30.4" class="stroke-primary" style="stroke-width: 2;stroke-miterlimit: 10;"></line>
                </svg>
                <!-- 漫画と雑誌切り替え -->
                <p class="text-red-500 font-black text-center">ボタンで切り替わります</p>

                <div class="flex flex-wrap justify-center">
                    <div class="w-full md:w-1/2 p-4 bg-red-800">
                        <div class="flex flex-col items-center">
                            <div class="flex-1">
                                <p class="text-yellow-100">コミック</p>
                            </div>
                            <div class="flex-1">
                                <h3 class="text-xl font-bold mb-2 text-yellow-100">Comic</h3>
                            </div>
                        </div>
                    </div>

                    <a class="w-full md:w-1/2 p-4 bg-gray-400 hover:bg-red-700 text-yellow-100" href="./magazine.html">
                        <div class="flex flex-col items-center">
                            <div class="flex-1">
                                <p>雑誌</p>
                            </div>
                            <div class="flex-1">
                                <h3 class="text-xl font-bold mb-2">Magazine</h3>
                            </div>
                        </div>
                    </a>
                </div>


            </header>
            <!-- End heading -->
            <!-- row -->
            <div id="comicsearch">
                <div class="text-center " @click="modalopen()">
                    <p class="relative group overflow-hidden py-8 rounded-md bg-lime-500 mx-auto mb-10 font-black text-2xl sm:w-1/2 min-w-4xl
                    before:absolute 
                    before:inset-0 
                    before:bg-lime-600 
                    before:scale-y-[0.1] 
                    before:origin-bottom
                    before:transition
                    before:duration-300
                    hover:before:scale-y-100
                    ">
                        <span class="relative uppercase text-white">店舗別コミック検索はコチラ</span>
                    </p>
                </div>
                <div class="text-center mb-10" v-show="modal">
                    <p class="text-red-500 font-black text-center">検索する店舗を選択してください。</p>
                    <div class="flex flex-wrap">
                        <a href="http://www2.uraraka-comic.com/comic/index.php?tcd=MjA2OA" class="w-1/2 py-4 font-black border-b-2 border-gray-200 hover:text-gray-600">
                            <p>@time 長浜店</p>
                        </a>
                        <a href="http://www2.uraraka-comic.com/comic/index.php?tcd=MjA3MQ" class="w-1/2 py-4 font-black border-b-2 border-gray-200 hover:text-gray-600">
                            <p>@time 長浜バイパス店</p>
                        </a>
                        <a href="http://www2.uraraka-comic.com/comic/index.php?tcd=MjA2OQ" class="w-1/2 py-4 font-black border-b-2 border-gray-200 hover:text-gray-600">
                            <p>@time 彦根店</p>
                        </a>
                        <a href="http://www2.uraraka-comic.com/comic/index.php?tcd=MjA3Mw" class="w-1/2 py-4 font-black border-b-2 border-gray-200 hover:text-gray-600">
                            <p>@time 八日市店</p>
                        </a>
                        <a href="http://www2.uraraka-comic.com/comic/index.php?tcd=MjA3Mg" class="w-1/2 py-4 font-black border-b-2 border-gray-200 hover:text-gray-600">
                            <p>@time 近江八幡店</p>
                        </a>
                        <a href="http://www2.uraraka-comic.com/comic/index.php?tcd=MTc1OQ" class="w-1/2 py-4 font-black border-b-2 border-gray-200 hover:text-gray-600">
                            <p>@time 水口店</p>
                        </a>
                        <a href="http://www2.uraraka-comic.com/comic/index.php?tcd=MjA3NA" class="w-1/2 py-4 font-black border-b-2 border-gray-200 hover:text-gray-600">
                            <p>@time 守山店</p>
                        </a>
                        <a href="http://www2.uraraka-comic.com/comic/index.php?tcd=MjA3MA" class="w-1/2 py-4 font-black border-b-2 border-gray-200 hover:text-gray-600">
                            <p>@time 草津店</p>
                        </a>
                        <a href="http://www2.uraraka-comic.com/comic/index.php?tcd=MTc2MA" class="w-1/2 py-4 font-black border-b-2 border-gray-200 hover:text-gray-600">
                            <p>@time 西大津店</p>
                        </a>
                    </div>
                    <button class="bg-red-600 p-4 text-white hover:bg-red-700 rounded-md" @click="modalclose">✕</button>
                </div>
            </div>


            <div class="flex flex-wrap flex-row text-center" id="comiclist">


                <!-- ComicListのデータ -->
                <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;" v-for="item in ComicList">
                    <div class="py-2 sm:px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2 shadow-2xl">
                        <div class="inline-block text-gray-900 mb-4">

                            <img :src="item.img" :alt="item.title">
                        </div>
                        <h3 class="text-lg leading-normal mb-2 font-semibold">{{item.title}}</h3>
                        <p class="text-gray-500">入荷日：{{item.day}}</p>
                    </div>
                </div>
                <!-- ComicListのデータ -->

                <!-- もっと見る MoreComicListのデータ -->
                <button class="bg-red-800 hover:bg-red:700 text-white font-bold py-2 px-12 rounded-full block container mb-20 mx-10 md:mx-64 hover:bg-red-600" @click="more" v-if="btnMore">もっと見る</button>
                <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;" v-if="number" v-for="item in MoreComicList">
                    <div class="py-2 sm:px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2 shadow-2xl">
                        <div class="inline-block text-gray-900 mb-4">
                            <img :src="item.img" :alt="item.title">
                        </div>
                        <h3 class="text-lg leading-normal mb-2 font-semibold">{{item.title}}</h3>
                        <p class="text-gray-500">入荷日：{{item.day}}</p>
                    </div>
                </div>
                <!-- MoreComicListのデータ -->
            </div>
            <!-- end row -->
        </div>
        <div id="footer"></div>
    </div>
    <script src="./dataJS/comic-data.js"></script>
    <script>

        const ComicModal = Vue.createApp({
            data() {
                return {
                    modal: false,
                };
            },
            methods: {
                modalopen() {
                    this.modal = true;
                },
                modalclose() {
                    this.modal = false;
                },
            },
        }).mount('#comicsearch');

    </script>
    <script>
        const mountedApp = app.mount('#comiclist');
    </script>
</body>

</html>