<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./favicon.ico" id="favicon">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>@time | はじめての方へ</title>
  <script src="https://unpkg.com/vue@3.2.4"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $('#header').load('/-time/header.html');
      $('#footer').load('/-time/footer.html');
    });
  </script>

</head>

<body background="./img/background/email-pattern.jpg">
  <div id="header"></div>
  <div style="background-image:url(./img/background/5.jpg);" class="relative py-20 bg-cover bg-center bg-no-repeat mb-20 mt-10">
    <h2 class="text-2xl leading-normal mb-2 font-black text-center bg-black text-white py-2">-はじめての方へ-</h2>
  </div>
  <div class="md:flex items-center shadow-2xl py-12 md:px-20 sm:px-14 px-6 rounded-2xl mb-20 sm:mx-8 bg-white">
    <div class="md:px-10 sm:px-20">
      <img src="./img/logo.JPG" class="mx-auto">
      <h2 class="text-red-800 py-4 text-center text-4xl font-black m-auto">@timeとは</h2>
      <p class="text-gray-700 mb-2 md:mb-6 text-xl mt-4">滋賀県に10店舗展開するカラオケ&アミューズメント&インターネットカフェです。</p>
    </div>
    <div>
      <img class="bg-cover rounded-2xl" src="./img/store/bypass/bypass.JPG" alt="" />
    </div>
  </div>
  <div class="max-w-4xl m-auto" id="first">
    <!-- @timeサービスの紹介 -->

    <div v-for="item in ServiceList" class="font-black">

      <h3 class="text-red-800 font-black text-2xl mb-2 text-center">{{item.name}}</h3>
      <div class="sm:flex max-w-4xl py-8 px-8 rounded-3xl mb-20 shadow-2xl bg-white">
          <div class="sm:w-1/2">
            <img :src="item.img" class="rounded-lg rounded-3xl">
          </div>
          <div class="sm:w-1/2">
              <p class="ml-4 mt-4 align-middle">{{item.description}} </p>
          </div>
      </div>

    </div>

    <a href="./services.html">
      <p class="bg-black text-white text-3xl py-8 px-8 mb-20 max-w-2xl mx-auto text-center hover:bg-black duration-500 hover:scale-110 rounded-full">サービス詳細はコチラ</p>
    </a>
    <h2 class="bg-red-800 text-white py-4 text-center text-2xl font-black m-auto mt-20 ">ご利用の流れ/会員登録</h2>
    <p class="text-center my-8 font-black">@timeは、お客様に安心してご利用して頂くために会員制になっております。</p>

    <!-- @time来店からの流れ・会員登録 -->

    <div class="sm:flex shadow-2xl max-w-4xl py-8 px-8 rounded-3xl mb-20 bg-white font-black" v-for="item in  FlowList">


      <div class="sm:w-1/2 p-2">
        <h3 class="bg-red-800 text-white text-xl text-center mx-auto py-2">{{item.name}}</h3>
        <p class="ml-4 mt-4 align-middle">{{item.description}}</p>
      </div>
      <div class="sm:w-1/2">
              <img :src="item.img" :alt="item.name" class="rounded-lg rounded-3xl">
      </div>
    </div>


    <div class="max-w-4xl py-8 px-8 rounded-3xl mb-20 shadow-2xl bg-white font-black">
      <h3 class="bg-green-500 text-white text-center sm:mx-20 p-2 mb-10">新規入会の方</h3>
      <div class="sm:flex">
        <div class="sm:w-1/3">
          <img src="./img/card1.png" alt="" class="w-full rounded-lg rounded-3xl">
        </div>
        <div class="sm:w-2/3 mx-4 mt-4">
          <p>・@time新規入会のお客様は、<span class="text-red-600">入会金300円</span>が必要となります。</p>
          <p class="text-red-600">(50歳以上の方は入会金無料)</p>
          <p>・入会の際には身分証明書(運転免許証・学生証・保険証など)が必要です。</p>
          <p>・小学生(12歳)以下は席料が半額、3歳以下は無料です。</p>
        </div>
      </div>
    </div>
    <div class="max-w-4xl py-8 px-8 rounded-3xl mb-20 shadow-2xl bg-white font-black">
      <h3 class="bg-black text-white text-center sm:mx-20 p-2 mb-10">SUNカード・DELIGHTカード会員の方</h3>
      <div class="sm:flex">
        <div class="sm:w-1/3">
          <img src="./img/card2.png" alt="" class="w-full rounded-lg rounded-3xl">
        </div>
        <div class="sm:w-2/3 mx-4 mt-4">
          <p>・SUNMUSIC/DELIGHTメンバーズポイントカードを、そのままご利用いただけます。</p>
          <p class="text-red-600">(@time 入会金の300円は必要です)</p>
          <p>・SUNMUSIC、DELIGHT、@time 全店共通でご利用でき、ポイントも貯められます。</p>
        </div>
      </div>
    </div>
    
    <h2 class="bg-red-800 text-white py-4 text-center text-2xl font-black m-auto mt-20 ">ご利用上の注意</h2>
    <ul class="max-w-4xl mx-auto px-8 py-8 bg-white shadow-2xl rounded-3xl mb-20">
      <li class="mb-2">・ご利用中の外出はご遠慮ください。</li>
      <li class="mb-2">・携帯電話はマナーモードに設定してください。ご利用は専用ブースでお願いいたします。</li>
      <li class="mb-2">・ご使用済みの食器や読み終わったコミックなどは、所定の場所までお戻し下さい。</li>
      <li class="mb-2">・大声で騒ぐ、いびき、走り回る等、他のお客様のご迷惑になる行為はご遠慮ください。</li>
      <li class="mb-2">・使用できなくなった備品については、お買い取り頂く場合がございます。</li>
      <li class="mb-2">・過度の飲酒をされている方のご入館は、固くお断りいたします。</li>
      <li class="mb-2">・歩きながらの飲食・喫煙・寝煙草は、固くお断りいたします。</li>
      <li class="mb-2">・パソコンの設定などを故意に変更したり障害になる行為は、固くお断りいたします。</li><br>
      <p class="text-red-500 font-bold">上記の内容をお守り頂けないお客様には退店して頂く場合がございます。予めご了承下さい。</p>

    </ul>
    <h2 class="bg-red-800 text-white py-4 text-center text-2xl font-black m-auto mt-20 ">お子様のご利用について</h2>
    <div class="max-w-4xl mx-auto px-8 py-8 bg-white shadow-2xl rounded-3xl mb-20">
      <p><span class="text-red-500 font-bold">16歳未満の方は午後8時まで、18歳未満の方は午後10時まで</span>のご利用とさせていただきます。
        また、小学生以下のお子様のみでのご利用はお断りしております。保護者同伴でご来店ください。
      </p>
    </div>

    <h2 class="bg-red-800 text-white py-4 text-center text-2xl font-black m-auto mt-20 " id="terms">利用規約</h2>
    <div class="max-w-4xl mx-auto px-8 py-8 bg-white shadow-2xl rounded-3xl mb-20">
      <ul>
        <li class="mb-2"> <span class="bg-green-500 text-white font-bold px-3">１</span>
          ご入会の際には身分証明書のご提示が必要となります。（再発行の場合も同様と致します。）
          また、小学生の方は保護者の同意が必要となります。
        </li>
        <li class="mb-2"> <span class="bg-green-500 text-white font-bold px-3">２</span>
          会員証は入会されたご本人しかご利用になれません。
        </li>
        <li class="mb-2">
          <span class="bg-green-500 text-white font-bold px-3">３</span>
          入会申込書の記載事項に変更があった場合は、ご入会手続きをした店舗まで速やかにご連絡ください。
        </li>
        <li class="mb-2"> <span class="bg-green-500 text-white font-bold px-3">４</span> インターネット上でのトラブル・事故に関しまして、当店では一切責任を負いかねます。</li>
        <li>
          <span class="bg-green-500 text-white font-bold px-3">５</span>
          お客様の行為による機材や端末の破損などで当店に損害が発生したと判断された場合、 お客様の実費で弁償していたたく場合がございます。
        </li>
        <li class="mb-2">
          <span class="bg-green-500 text-white font-bold px-3">６</span>
          当店のパソコンは、再起動時に初期設定に戻るよう設定されております。
          <p>・保存データ等の消失、損害など。</p>
          <p>・自然災害、通信事業者が原因で起こる故障などのトラブル。</p>
        </li>
        <li class="mb-2">
          <span class="bg-green-500 text-white font-bold px-3">
            ７</span>

          当店端末でご利用可能なコンテンツに関して、著作権法で保護されている権利は著作者、著作権者などに留保されています。
          従いまして、当店コンテンツのご利用は、当店端末による個人の使用に限らせていただきます。
        </li>
        <li class="mb-4">
          <span class="bg-green-500 text-white font-bold px-3">８</span>
          以下のいずれかに該当する場合、当店はお客様に会員証の使用を禁止し、会員の除名をさせていただく場合がございます。
          <p class="ml-4">・入会申込書の記載事項に虚偽の合った場合。また、変更があったにもかかわらず届け出がなかった場合。</p>
          <p class="ml-4">・他のお客様のご迷惑になる行為を行った場合。（店内ブース提示の【ご入場に関する規定】参照）</p>
          <p class="ml-4">・当店の営業妨害と判断される言動、行為を行った場合。</p>
          <p class="ml-4">・当店店内で営利目的の行為を行った場合、および営利目的で当店の端末を使用した場合。</p>
          <p class="ml-4">・当店の端末を利用して違法行為を行った場合。</p>
        </li>
        <li class="mb-2">
          <span class="bg-green-500 text-white font-bold px-3">９</span>
          会員の個人情報につきましては、一切公開することはありません。
        </li>
        <li class="mb-2">
          <span class="bg-green-500 text-white font-bold px-3">10</span>
          会員規約は、諸々の事情により予定なく変更させていただく事がございます。予めご了承ください。
        </li>
        <li class="mb-2">
          <span class="bg-green-500 text-white font-bold px-3">11</span>
          会員登録されたお客様は、会員規約を承諾されたものといたします。
        </li>
        <li class="mb-2">
          <span class="bg-green-500 text-white font-bold px-3">12</span>
          ご入店登録後の料金変更は出来兼ねますので、ご了承願います。
        </li>
      </ul>
    </div>






    <h2 class="bg-red-800 text-white py-4 text-center text-2xl font-black m-auto mt-20 " id="Personalinfo">個人情報保護方針</h2>
    <div class="max-w-4xl mx-auto px-8 py-8 bg-white shadow-2xl rounded-3xl mb-20">
      <p>当社 株式会社サンミュージックは、インターネットカフェ事業において業務を円滑に行い、お客様により良いサービスを提供するために、お客様の個人情報を取得し保有させていただきます。
        当社は、お客様の個人情報を以下のように取り扱います。
      </p><br>
      <p><span class="bg-green-500 text-white font-bold px-3">１</span>個人情報の取得</p>
      <p class="mb-2">当社はお客様の個人情報を公正かつ適法に取得し、保持します。</p>

      <p><span class="bg-green-500 text-white font-bold px-3">２</span>個人情報の取得方法</p>
      <p class="mb-2">犯罪や青少年の非行防止、その他防犯・防災対策のため、お客様直筆の入会申込書とともに身分証明書のコピーを頂きます</p>
      <p><span class="bg-green-500 text-white font-bold px-3">３</span>個人情報の利用目的の公表</p>
      <p>当社は個人情報を取得する場合、原則として予めお客様に利用目的を公表します。</p>
      <p class="mb-2"><span class="bg-green-500 text-white font-bold px-3">４</span>個人情報の利用</p>
      <p class="mb-2">当社はお客様の個人情報を、お客様にサービスをご提供する目的、または当社各店舗及び関連企業の店舗・商品・営業・その他に関する情報を提供する目的、またマーケティング分析する目的、また警察各省からの、情報提供要請にのみ使用します。</p>
      <p><span class="bg-green-500 text-white font-bold px-3">５</span>個人情報の安全管理</p>
      <p class="mb-2">当社は個人情報の安全管理が図れるよう各店舗における責任者を設け、従業員に対する必要かつ適切な指導と監督を行っています。また個人情報の漏洩、滅失または毀損などを防止するため、適切な安全管理措置を講じます。</p>
      <p><span class="bg-green-500 text-white font-bold px-3">６</span>個人情報の開示等</p>
      <p class="mb-2">当社は、当社の保持する個人情報について、ご本人より利用目的の通知、開示、訂正利用停止、当社各店舗および関連企業に情報提供停止のご請求があった場合には、法令の定めるところに従い対応します。</p>
      <p><span class="bg-green-500 text-white font-bold px-3">７</span>法令の遵守</p>
      <p class="mb-2">当社は、個人情報の保護に対する法律その他の法令を遵守し、個人情報の保護に努めます。</p>


      <h3 class="bg-red-500 text-white text-center py-4 my-8">個人情報の取り扱いについての重要項目</h3>


      <p><span class="bg-green-500 text-white font-bold px-3">１</span>個人情報の第三者提供について</p>
      <p class="mb-2">当社は以下の各項に定める場合を除き、お客様の同意を得ることなく、お客様より取得した個人情報を第三者に提供することはありません。

        法令に基づく場合。

        人の生命、身体または財産の保護のために必要であり、本人の同意を得るのが困難な場合。

        公衆衛生の向上、児童または青少年の健全な育成の推進のために特に必要であり、本人の同意を得るのが困難な場合。

        警察各省および、国の機関もしくは地方公共団体、またはその委託を受けたものが、法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある時。</p>



      <p><span class="bg-green-500 text-white font-bold px-3">２</span>開示等の求めに応じる手続き</p>
      <p> 当社では、個人情報に関するお客様のお問い合わせを各店舗店頭にて承っております。
        その際本人確認のため、運転免許証、パスポート等の公的書類のコピーをご提供いただいております。

        開示等の要求の対応にあたっては、印刷代、郵送料等の実費および手数料を申し受け、回答まで数日を要することがありますので、予めご了承ください。
      </p>
    </div>

  </div>
  <div id="footer"></div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="./dataJS/first-data.js"></script>
  <script>
    const mountedApp = app.mount('#first');
  </script>

</body>

</html>