<!DOCTYPE html>
<html lang="ja">
<!-- TOP-data.jsから読み込み -->

<head>
  <meta charset="UTF-8">
  <title>@time | カラオケ&アミューズメント&インターネットカフェ</title>
  <meta name="description" content="滋賀県に10店舗展開する。カラオケ&アミューズメント&インターネットカフェです。">
  <meta name="keywords" content="滋賀県,at-time,@time,ネットカフェ,インターネットカフェ,漫画,コミック,バッティングセンター">
    <!-- favicon.ico -->
    <link rel="icon" href="./favicon.ico" id="favicon">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <link rel="stylesheet" href="./slick/slick-theme.css">
  <link rel="stylesheet" href="./slick/slick.css">
  <link rel="stylesheet" href="./slick/fonts/">

  <script src="https://unpkg.com/vue@3.2.4"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="./slick/slick.js"></script>


  <script>
    //headerパーツ読み込み

    $(function () {
      $('#header').load('/-time/header.html');
      $('#footer').load('/-time/footer.html');
      $('#searchstore').load('/-time/search.html#store');
    });
    $(window).on('load', function () {

      let $widget = $('iframe.twitter-timeline');
      let $widgetContents = $widget.contents();

      //Twitterのstyle
      $widgetContents.find('head').append('<style>.timeline-Tweet{ padding:30px; background: white;}.timeline-Tweet:hover{background: white;}</style>');

    });
  </script>

</head>

<body background="./img/background/email-pattern.jpg">
  <div id="header"></div>

  <div class="xl mx-auto mt-10">
    <div class="bg-gray-300">
      <div id="default-carousel" class="relative container xl:max-w-6xl mx-auto z-0" data-carousel="static" data-ride="carousel">
        <div class="overflow-hidden relative h-96">
          <!-- TOP-data.jsのtopsliderから読み込み -->
          <div class="hidden duration-700 ease-in-out" v-for="item in TOPsliderList" data-carousel-item>
            <img :src="item.img" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" :alt="item.alt">
          </div>
        </div>
        <div class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2">
          <!-- sliderのデータ分ボタンを生成 -->
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" data-carousel-slide-to="0" v-for="item in TOPsliderList" aria-label="Slide item.index+1"></button>
        </div>
        <button type="button" class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
          <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
            <span class="hidden z-1">Previous</span>
          </span>
        </button>
        <button type="button" class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
            <span class="hidden z-1" id="nextbtn">Next</span>
          </span>
        </button>
      </div>
    </div>

    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>

  </div>
  <h2 class="text-center text-3xl md:text-4xl font-black my-10">—　Infomation —</h2>
  <ui-card>

  </ui-card>

  <!-- Infomation部分 TOP-data.js subslider空読み込み-->
  <div class="multiple p-0" id="sub-slider">
    <div v-for="item in SUBsliderList" class="mx-2"><a :href="item.path"><img :src="item.img" class="w-full"></a></div>
  </div>
  <!-- Infomation部分 -->

  <h2 class="text-2xl leading-normal font-bold text-center text-yellow-100 bg-red-800 py-2 max-w-xs mx-auto mt-20 mb-10"> @timeのサービス</h2>


  <div id="k" class="mb-20">
    <!-- スマホのサービスアイコン -->
    <div class="flex items-center justify-center" id="sp-content">
      <div class="grid grid-cols-6 gap-x-2 gap-y-1 m-auto">
        <div class="col-span-2 bg-gray-400" v-for="item in ServiceList">
          <a :href="item.path">
            <img :src="item.icon" class="bg-gray-400 px-8 py-3" alt="">
          </a>
          <p class="bg-red-800 text-white py-2 text-center">{{item.name}} </p>
        </div>
      </div>
    </div>
    <!-- スマホのサービスアイコン -->
    <!-- PCのサービス画像 -->
    <div class="md:px-10 px-2 max-w-6xl mx-auto" id="pc-content">
      <div class="w-full grid-cols-2 sm:grid lg:grid-cols-3 gap-x-2">
        <div class=" lg:max-w-sm transform transition duration-500 hover:scale-110 hover:z-10" v-for="item in ServiceList">
          <a :href="item.path">
            <img class="w-full" :src="item.img" alt="" />
            <p class="bg-red-800 text-white py-2 text-center font-medium">{{item.name}}</p>
          </a>
        </div>
      </div>
    </div>
    <!-- PCのサービス画像 -->

  </div>
  <a href="./services.html">
    <p class="text-center text-2xl text-white font-black p-4 my-20 bg-rose-500 max-w-xl mx-auto rounded-full hovor:bg-red-800 duration-500 hover:scale-110">サービス一覧を見る</p>
  </a>


  <p class="bg-red-800 text-white text-2xl sm:text-3xl py-8 px-8 max-w-2xl mx-auto text-center duration-500 font-black">豊富なお食事メニュー</p>
  <div class="bg-gray-500 py-48 w-1/2 mx-auto mt-4">
    <p class="text-white text-center">料理サムネイル画像</p>
  </div>
  <a href="./booth-menu.html">
    <p class="text-center text-2xl text-white font-black p-4 my-20 bg-rose-500 max-w-xl mx-auto rounded-full hovor:bg-red-800 duration-500 hover:scale-110">お食事メニューを詳しく見る</p>

  </a>

  <p class="bg-red-800 text-white text-2xl sm:text-3xl py-8 px-8 max-w-2xl mx-auto text-center duration-500 mt-20 font-black">店舗を探す</p>

  <div id="searchstore">

  </div>


  <!-- Twitter -->
  <div class="max-w-3xl m-auto">
    <div class="flex justify-center mt-8 mb-4">
      <h2 class="text-center text-2xl font-bold my-2">お得な情報を発信しています</h2>
      <img src="./img/icon/twitter.png" alt="" class="icon">

    </div>

    <a class="twitter-timeline" href="https://twitter.com/attime_shiga?ref_src=twsrc%5Etfw" data-tweet-limit="3" data-chrome="noheader nofooter">Tweets by attime_shiga</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>
    <!-- Twitter -->

  <div id="footer"></div>
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <script src="./dataJS/TOP-data.js"></script>
  <script>
    const mountedApp1 = app.mount('#k');
    const mountedApp2 = topslider.mount('#default-carousel');
    const mountedApp3 = subslider.mount('#sub-slider');
  </script>

</body>
<script type="text/javascript">


  $(document).ready(function () {
    $('.multiple').slick({
      autoplay: true, //自動再生
      infinite: true, //スライドのループ有効化
      dots: true, //ドットのナビゲーションを表示
      slidesToShow: 5, //表示するスライドの数
      slidesToScroll: 1, //スクロールで切り替わるスライドの数
      responsive: [{
        breakpoint: 768, //ブレークポイントが768px
        settings: {
          slidesToShow: 4, //表示するスライドの数
          slidesToScroll: 4, //スクロールで切り替わるスライドの数
        }
      }, {
        breakpoint: 480, //ブレークポイントが480px
        settings: {
          slidesToShow: 2, //表示するスライドの数
          slidesToScroll: 2, //スクロールで切り替わるスライドの数
        }
      }]
    });
  });
</script>
<script>
  setInterval(function () {
    document.getElementById("nextbtn").click();
  }, 5000);

</script>
<style>
  .icon {
    width: 50px;
    height: 50px;
  }

  .multiple .slick-next {
    right: 17px;
    z-index: 2;
  }

  .multiple .slick-prev {
    left: 23px;
    z-index: 2;
  }

  .hide {
    display: none;
  }

  @media (min-width: 768px) {
    #sp-content {
      display: none;
    }
  }

  @media (max-width: 767px) {
    #pc-content {
      display: none;
    }
  }
</style>

</html>