<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../favicon.ico" id="favicon">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>@time | 基本サービス</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.4"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('#header').load('/-time/header.html');
            $('#footer').load('/-time/footer.html');
        });
    </script>
</head>

<body background="../img/background/email-pattern.jpg" class="font-black">
    <div id="header"></div>
    <div style="background-image:url(../img/background/5.jpg);" class="relative py-20 bg-cover bg-center bg-no-repeat mb-20 mt-10">
        <h2 class="text-2xl leading-normal mb-2 text-center bg-black text-white py-2">－基本サービス－</h2>
    </div>
    <div class="max-w-4xl m-auto" id="basic">
        <div v-for="item in basicServicesList">
            <p class="link-t-a" :id="item.id"></p>
            <h3 class="text-red-800 text-2xl mb-2 text-center">{{ item.title}}</h3>
            <div class="sm:flex shadow-2xl bg-white max-w-4xl py-8 px-8 rounded-3xl mb-20">
                <div class="sm:w-1/2">
                    <img :src="item.img" alt="" class="rounded-lg rounded-3xl">
                </div>
                <div class="sm:w-1/2">
                    <p class="ml-4 mt-4 align-middle">{{item.text}}</p>
                    <p v-if="item.title == 'フリーWi-Fi'" class="ml-4 mt-4 align-middle">
                        設定方法については<a href="../info/campaign.html#wifi" class="text-blue-500 ">こちら</a>をご確認ください。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</body>
<style>
    .link-t-a {
        position: relative;
        top: -150px;
        display: block;
        }
</style>
<script>
    const app = Vue.createApp({
        data() {
            return {
                basicServicesList: [
                    {
                        title: "ソフトクリーム無料",
                        id: "soft",
                        img: "../img/services/basic-services/soft.jpg",
                        text: "@timeでは、ソフトクリーム食べ放題です。豊富な品揃えのコミックを片手に、思い思いの時間をお過ごしください。",
                    },
                    {
                        title: "ドリンクバー無料",
                        id: "drink",
                        img: "../img/services/basic-services/drink.jpg",
                        text: "@timeでは、ソフトドリンクは勿論、淹れたてのコーヒーや紅茶、フローズンドリンクまで。20種類以上のドリンクが全て飲み放題です。",
                    },
                    {
                        title: "スープバー無料",
                        id: "soup",
                        img: "../img/services/basic-services/soupbar.jpg",
                        text: "@timeでは、無料のスープバーもご用意しています。",
                    }, {
                        title: "シャワー無料",
                        id: "shower",
                        img: "../img/services/basic-services/syawa.jpg",
                        text: `汗を流したい⽅には、シャワールームも完備。※一部有料の店舗がございます。詳しくは各店舗ページのサービス一覧をご確認ください。`,
                    },
                    {
                        title: "フリーWi-Fi",
                        id: "wifi",
                        img: "../img/services/basic-services/wi-fi.jpg",
                        text: "@timeでは、フリーWi-Fiをご利用いただけます。",
                    },
                ],
            };
        },
    }).mount('#basic');

</script>

</html>