<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <title>コミック・雑誌一覧</title>
  <script src="https://unpkg.com/vue@3.2.4"></script>
</head>

<body>
  <div id="store">
    <blog-post store="彦根ベルロード" text="アットタイム彦根ベルロード店です。最新機種を設置したカラオケ部屋は、全部で26室。豊富なフードメニューや⾷べ放題のソフトクリームと共にお楽しみください。また、ダーツ・ビリヤード・卓球などもご⽤意させていただいております。" img="../img//store/bellroad/bellroad.jpg"></blog-post>
  </div>
</body>

<script src="./data.js"></script>
<script>
  app.mount('#store')
</script>

</html>